:root {
  --step--2: clamp(0.78rem, 0.61rem + 0.75vw, 1.28rem);
  --step--1: clamp(0.94rem, 0.70rem + 1.00vw, 1.60rem);
  --step-0: clamp(1.13rem, 0.82rem + 1.31vw, 2.00rem);
  --step-1: clamp(1.35rem, 0.95rem + 1.73vw, 2.50rem);
  --step-2: clamp(1.62rem, 1.09rem + 2.26vw, 3.13rem);
  --step-3: clamp(1.94rem, 1.25rem + 2.95vw, 3.91rem);
  --step-4: clamp(2.33rem, 1.43rem + 3.83vw, 4.88rem);

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --cyan-graphic-text: hsl(167, 40%, 24%);
  --dark-blue-photo-text: hsl(198, 62%, 26%);
  --dark-cyan-footer: hsl(168, 34%, 41%);

  --dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 10%, 55%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--step-4);
  font-family: 'Fraunces', serif;
  color: white;

  letter-spacing: 7px;
}

h2 {
  font-size: var(--step-3);
  font-family: 'Fraunces', serif;
  color: var(--dark-desaturated-blue);
}

h3 {
  font-size: var(--step-0);
  font-family: 'Fraunces', serif;
  color: var(--dark-desaturated-blue);
}

p, li, a {
  font-size: var(--step--1);
  font-family: 'Barlow', sans-serif;
  color: var(--very-dark-gray-blue);

  list-style: none;
  text-decoration: none;

  line-height: 1.5;
}

body {
  position: relative;
}


/* HEADER */
header {
  position: absolute;
  width: 100%;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 3rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-item a {
  color: white;
}

.nav-btn a {
  color: var(--dark-desaturated-blue);
  background-color: white;
  padding: 1rem 2.25rem;
  border-radius: 99px;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
}

/* HERO */

.hero {
  background-image: url('/images/desktop/image-header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
}

/* EGG */
.egg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.egg-info {
  padding: 8rem;
}

.egg-info > * {
  padding: 1.25rem 0;
}

.egg-info h3 {
  border-bottom: 2px solid var(--yellow);
  width: fit-content;
  padding: 1.25rem 0 0 0;
  cursor: pointer;
}

.egg-photo, .egg-photo img {
  width: 100%;
  height: 100%;
}

.cup-info h3 {
  border-bottom: 2px solid var(--soft-red);
}

.last-section {
  position: relative;
}

.photo-info {
  position: absolute;
  bottom: 5%;
  padding: 0 8rem;
}

.photo-info > * {
  text-align: center;
  padding: 1rem 0;
}

.cherry > * {
  color: var(--cyan-graphic-text);
}

.orange > * {
  color: var(--dark-blue-photo-text)
}

/* Testimonals */
.test {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  padding: 12rem 8rem;

  text-align: center;
}

.text-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.text-cards > * {
  padding: 2.5rem 0;
}

.text-cards img {
  border-radius: 100%;
}

/* Gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery img {
  width: 100%;
}

/* Footer */
footer {
  background-color: #99d9cb;
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-nav-items a {
  color: var(--cyan-graphic-text);
}

footer > * {
  padding: 2rem 0;
}

.display-none {
  display: none;
}

@media screen and (max-width: 801px) {
  .display-none {
    display: block;
  }

  .hamburger-menu {
    position: relative;
    width: 32px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  .hamburger-menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: white;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 white;
    transition: 0.2s;
  }

  .hamburger-menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 20px;
    background-color: white;
    transform: translateY(10px);
    transition: 0.2s;
  }

  .hamburger-menu.active::before {
    transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 white;
  }

  .hamburger-menu.active::after {
    transform: translateY(0) rotate(-45deg);
  }

  .nav-list {
    flex-direction: column;
    gap: 3rem;

    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 4rem 0;
    width: 70%;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s;
  }

  .nav-list::before {
    content: '';
    position: absolute;
    top: -115px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 60px solid white;
  }

  .nav-list-active {
    clip-path: polygon(0 0, 100% -20%, 100% 100%, 0 100%);
    transition: 0.2s;
  }

  .nav-item a {
    color: var(--very-dark-gray-blue);
  }

  .nav-btn a {
    color: var(--dark-desaturated-blue);
    background-color: var(--yellow);
  }

  .hero h1 {
    text-align: center;
  }


  .egg {
    display: flex;
    flex-direction: column;
  }

  .egg-info {
    padding: 4rem;
  }

  .egg-info > * {
    text-align: center;
  }

  .egg-info h3 {
    margin: auto;
  }

  .last-section img {
    object-fit: cover;
  }

  .last-section {
    min-height: 60vh;
  }

  .photo-info {
    top: 55%;
    padding: 0 2rem;
  }

  .first-section {
    flex-direction: column-reverse;
  }

  .test {
    padding: 4rem 2rem;
  }

  .text-card-container {
    flex-direction: column;
  }

  .text-cards > * {
    padding: 1rem 0;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}